/* line 3, ../sass/style.scss */
body {
  background-color: #ccc;
}

/* line 8, ../sass/style.scss */
.breadcrumb ul li {
  display: inline-block;
}
/* line 10, ../sass/style.scss */
.breadcrumb ul li:hover {
  background: red;
}
